* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-behavior: smooth
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: linear-gradient(45deg, #67c569, #70de72, #4cb28b, #59ca8a)
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header div img {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 12px;
}

header div h1 {
    color: white;
}

.div-logo {
    position: relative;
    display: inline-block;
}

.squareLeft {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 1.5px;
    background-color: white;
}

.squareRight {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 1.5px;
    background-color: white;
}

.squareTop {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5px;
    width: 69px;
    background-color: white;
}

.squareBottom {
    position: absolute;
    bottom: 12px;
    left: 0;
    height: 1.5px;
    width: 70px;
    background-color: white;
}